body {
	font-family: "Roboto", system-ui;
}

header {
	display: flex;
	justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   padding-left: 100px;
   padding-right: 100px;
}

header span {
   font-weight: bold;
}

nav ul {
   color: #F9FAF8;
}

header span {
   color: #F9FAF8;
}

.about {
   background-color: #1F2937; 
   display: flex;
	justify-content: space-between;
   padding: 30px;
   padding-left: 100px;
   padding-right: 100px;
}

.about img {
   height: 300px;
   width: 300px;
}

.about h1 {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
}

.about div {
   color: #F9FAF8;
}

button {
   background-color: #3882F6;
   border: none;
   border-radius: 5px;
   color: white;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
}

ul > li {
   display: inline-block;
   margin-right: 20px;
}

.info h1 {
   text-align: center;
}

.pics-info {
   display: flex;
   justify-content: space-between;
}

.info img {
   height: 100px;
   width: 100px;
   display: block;
   margin-bottom: 10px;
   border: 4px solid #3882F6;
   border-radius: 10px;
}

.info {
   text-align: center;
}

.quote {
   margin-top: 20px;
   background-color: #E5E7EB;
   font-size: 25px;
   font-style: italic;
   color: #1F2937;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
}